body {
    background-color: rgb(174, 182, 190);

}

.header,
.container {
    display: flex;
}

.header {
    justify-content: center;
}

.container {
    padding: 20vh;
    height: 50vh;
    justify-content: center;
    margin: 50px 0;

}

.row {
    background-color: white;
}

#resetBtn {
    border-radius: 5px;
    padding: 20px;
}
